<html>
  <head>
    <title>CRUD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Update Poll</h1>
      <br>
      <h3>Candidate</h3>
      <h6>1. Nur Yaumi</h6>
      <h6>2. Nur</h6>
      <h6>3. Yaumi</h6>
      <form action="/pollsupdate/{{polls.id}}" method="post">
        <input type="text" placeholder="candidate name" name="candidate" value="{{
          request.form.candidate }}">
        <input class="btn btn-default" type="submit" value="Poll">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
